.es-en {
 text-align: end;
}

.en {
    color: #20f0c3;
}

.es {
    color: #692ff1;
}

.check {
    position: relative;
    width: 50px;
}

.check:before {
    content: "";
    position: absolute;
    width: 50px;
    height: 25px;
    background:  #692ff1;
    border-radius: 25px;
}

.check:after {
    content: "";
    position: absolute;
    width: 25px;
    height: 25px;
    background: #20f0c3;
    border-radius: 25px;
    transition: 0.25s;
    border: 2px solid #692ff1;
    box-sizing: border-box;
}


.check:checked:after {
    left: 25px;
    border: 2px solid #692ff1;
}

.check:checked:before {
    background: #692ff1 ;
}