/*CONTAINER*/
.welcome-container,
.about-container,
.skills-container,
.about-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
} 

/* titulos secciones */
.title-sections {
  text-align: center;
}

.letter-e{
  display: flex;
  justify-content: center;
}


.item-redes {
  flex-direction: row;
  margin-top: 5px;
}

.icono-center {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.scroll-container {
  text-align: center;
}

/* WELCOME SECTION */
.welcome-childs {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* SKILLS SECTION */
.icono-skills-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.icono-texto {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.hard-skills {
  display: flex;
  flex-direction: row;
}

/* PROJECTS SECTION */
.projects-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.titulo-proyecto {
  text-align: center;
}

.proyectos-fcode-container,
.apps-js-container {
  display: flex;
  flex-direction: row;
}

.betty-container {
  display: flex;
  flex-direction: row;
}

.links-3d-row {
  text-align: center;
}

.contactos {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
}

.form-contact {
  display: flex;
  flex-direction: column;
}

.nav-contactos {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

