
/* ----- CONTAINER ----- */
.welcome-container,
.about-container,
.contact-container,
.skills-container {
  height: 100vh;
  margin-left: 10%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.projects-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-left: 10%;
}

.titulo-proyecto {
  text-align: center;
}

/* ----- WELCOME SECTION----- */
.welcome-childs {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 30px 0 20px 0;
  height: 95vh;
}

.img-welcome {
  margin-top: 30px;
  padding-left: 30px;
}

.img-portfolio {
  width: 420px;
  border-radius: 50%;
}

.scroll-container {
  text-align: center;
  height: 10vh;
}

.scroll-page {
  font-size: 25px;
  color: #692ff1;
}

h1 {
  font-size: 80px;
  padding-bottom: 15px;
}

h2 {
  font-size: 30px;
}

h4 {
  font-size: 20px;
  padding: 15px;
}

.title-sections {
  text-align: center;
  padding: 30px;
  font-size: 25px;
}

/* ----- ABOUT SECTION----- */
.about-child {
  text-align: center;
}

.about {
  margin: 0 10%;
  text-align: justify;
  line-height: 2;
}

p {
  font-size: 16px;
}

.icon-cv {
  color: #20f0c3;
  font-size: 30px;
  padding: 20px;
}

/* ----- SKILLS SECTION----- */
.skills {
  margin-top: 40px;
  font-size: 15px;
  line-height: 1.4;
}

.hard-skills {
  display: flex;
  flex-direction: row;
  font-size: 40px;
  padding: 5px;
  margin-top: 80px;
}

.icono-skills-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 30px;
}

.fa-brands {
  padding: 5px;
}

.zbrush-aling {
  font-size: 30px;
  display: flex;
  align-items: center;
  margin-top: 85px;
}

  
.icono-texto {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.tamanoicono {
  font-size: 85px;
  padding: 50px;
  max-width: 100px;
  max-height: 100px;
  border: 2px solid;
  border-radius: 10%;
  background: #692ff1;
  color: #20f0c3;
}

.tamanoicono:hover {
  background-color: #20f0c3;
  color: #692ff1;
}

/* ----- PROJECTS SECTION----- */
.proyectos-fcode-container,
.betty-container,
.apps-js-container {
  margin: 8px;
}

.proyectos-fcode-container,
.apps-js-container {
  display: flex;
  flex-direction: row;
}

.apps-size {
  width: 260px;
  margin: 20px 20px 10px 20px;
  border-radius: 5%;
}

.sub-title {
  margin-top: 40px;
}

.betty-size {
  width: 200px;
  margin: 10px;
  border-radius: 5%;
}

.betty-container {
  display: flex;
  flex-direction: row;
  z-index: 5;
}

.betty-child img.top {
  position: absolute;
  left: 0;
  transition: opacity 1.5s ease-in-out;
}

.betty-child img:hover {
  opacity: 0;
}

.betty-child {
  position: relative;
  float: left;
}

.modelados-stl-child {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-bottom: 20px;
}

.modelados-size {
  width: 140px;
  margin: 10px 30px 10px 30px;
  border-radius: 6%;
}

.link-cults-cgtrader {
  font-size: 15px;
  color: #20f0c3;
  text-decoration: none;
  padding: 20px;
}

.links-3d-row {
  text-align: center;
}

footer {
  margin-left: 10%;
  font-size: 14px;
  text-align: center;
}





