body {
  background-color: rgb(43, 39, 39);
  font-family: "Montserrat", sans-serif;
  color: white;
  overflow-x: hidden;
}

/* ----- HEADER----- */
.menu {
  position: fixed;
  height: 80vh;
  width: 10vw;
  bottom: 0;
  background-color: rgb(27, 26, 27);
  visibility: hidden;
}

.nav-link {
  color: #20f0c3;
  text-decoration: none;
  padding: 20px 0;
  border-bottom: 3px solid rgb(43, 39, 39);
}

.icon-nav {
  width: 20px;
  margin: 10px 5px;
}

.item-menu {
  text-align: center;
  justify-content: center;
  display: flex;
}

/* ----- BTN-OPEN SECTION----- */
.btn-menu {
  position: fixed;
  height: 20vh;
  width: 10vw;
  background-color: rgb(27, 26, 27);
}

.btn-open {
  font-size: 90px;
  font-weight: 900;
  text-decoration: none;
  color: #692ff1;
  text-shadow: -28px -18px 0px #20f0c3;
  padding-top: 30px;
}

.btn-open:hover {
  color: #20f0c3;
  text-shadow: -30px -20px 0px #692ff1;
}

/* ----- CONTAINER ----- */
.welcome-container,
.about-container,
.contact-container,
.skills-container {
  height: 100vh;
  margin-left: 10%;
}

.projects-container {
  margin-left: 10%;
}

/* ----- WELCOME SECTION----- */
.welcome-childs {
  padding: 30px 0 20px 0;
  height: 95vh;
}

.img-welcome {
  margin-top: 30px;
  padding-left: 30px;
}

.img-portfolio {
  width: 420px;
  border-radius: 50%;
}

.scroll-container {
  height: 10vh;
}

.scroll-page {
  font-size: 25px;
  color: #692ff1;
}

h1 {
  font-size: 80px;
}

h2 {
  font-size: 30px;
}

h4 {
  font-size: 20px;
  padding: 15px;
}

.title-sections {
  padding: 30px;
  font-size: 25px;
}

/* ----- ABOUT SECTION----- */
.about-child {
  text-align: center;
}

.about {
  /* padding-top: 30px; */
  margin: 0 10%;
  text-align: justify;
  line-height: 2;
}

p {
  font-size: 16px;
}

.icon-cv {
  color: #20f0c3;
  font-size: 30px;
  padding: 20px;
}

/* ----- SKILLS SECTION----- */
.skills {
  margin-top: 40px;
  font-size: 15px;
  line-height: 1.4;
}

.hard-skills {
  font-size: 40px;
  padding: 5px;
  margin-top: 80px;
}

.icono-skills-container {
  margin-top: 30px;
}

.fa-brands {
  padding: 5px;
}

.zbrush-aling {
  font-size: 30px;
  display: flex;
  align-items: center;
  margin-top: 85px;
}

.tamanoicono {
  font-size: 85px;
  padding: 50px;
  max-width: 100px;
  max-height: 100px;
  border: 2px solid;
  border-radius: 10%;
  background: #692ff1;
  color: #20f0c3;
}

.tamanoicono:hover {
  background-color: #20f0c3;
  color: #692ff1;
}

/* ----- PROJECTS SECTION----- */
.proyectos-fcode-container,
.betty-container,
.apps-js-container {
  margin: 8px;
}

.proyectos-tamaño,
.apps-tamaño {
  width: 260px;
  margin: 20px 20px 10px 20px;
  border-radius: 5%;
}

.sub-title {
  margin-top: 40px;
}

.bettystamaño {
  width: 200px;
  margin: 10px;
  border-radius: 5%;
}

.betty-container {
  z-index: 5;
}

.betty-child img.top {
  position: absolute;
  left: 0;
  transition: opacity 1.5s ease-in-out;
}

.betty-child img:hover {
  opacity: 0;
}

.betty-child {
  position: relative;
  float: left;
}

.modelados-stl-child {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-bottom: 20px;
}

.modelados-tamaño {
  width: 140px;
  margin: 10px 30px 10px 30px;
  border-radius: 6%;
}

.link-cults-cgtrader {
  font-size: 15px;
  color: #20f0c3;
  text-decoration: none;
  padding: 20px;
}

.contact-container {
  padding-top: 40px;
}

.input-contact {
  padding: 5px;
  margin-bottom: 5px;
  font-family: "Montserrat", sans-serif;
  font-size: 20px;
  opacity: 70%;
  background-color: rgb(51, 48, 48);
  border: 1.5px solid rgb(43, 39, 39);
}

.input-contact:hover {
  border-bottom: 2px solid #20f0c3;
}

.enviar {
  padding: 10px 20px;
  font-family: "Montserrat", sans-serif;
  font-size: 20px;
  color: #20f0c3;
  border: 1px solid #20f0c3;
  background-color: rgb(51, 48, 48);
}

.enviar:hover {
  color: rgb(51, 48, 48);
  background-color: #20f0c3;
  opacity: 90%;
}

.input-submit {
  margin-top: 15px;
  text-align: end;
}

.form-contact {
  width: 500px;
  padding-right: 20px;
}

.nav-contactos {
  font-family: "Montserrat", sans-serif;
  margin-top: 50px;
}

.contactos {
  padding-top: 50px;
}

.links-3d-row {
  padding: 20px;
}

.contacto {
  padding-right: 20px;
}